<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <& = include('../partials/bookDisplay', { books: [book] })%>
  <form action='/books/<% book.id %>?_method=PUT' method='POST'>
    <input type='text' name='title' value='<%= book.title %>'>
    <input type='text' name='author' value='<%= book.author %>'>
    <input type='text' name='' value='<%= book.title %>'>
    <input type='text' name='title' value='<%= book.title %>'>
    <input type='text' name='title' value='<%= book.title %>'>
    <input type='text' name='title' value='<%= book.title %>'>
    <button type='submit'>submit</button>
  </form>
</body>
</html>